:root{
    --nav-back-color: rgb(18, 25, 30);
    --txt-color: rgb(223, 239, 241);
    --txt-color2: rgb(236, 121, 32);
    --item-back: #162225;
    --sec-color: rgb(53, 69, 74);
    --btn-color: darkorange;
    --lime1: rgb(14, 239, 14);
    --heading-color: rgb(249, 134, 72);
}
*{
    color: var(--txt-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    width: .4rem;
    background-color: var(--item-back);
    border-radius: .3rem;
}
::-webkit-scrollbar-thumb{
    border-radius: .3rem;
    background-color: var(--btn-color);
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}
body{
    height: 100vh;
    max-height: 97vh;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background-color: var(--nav-back-color);
    box-sizing: border-box;
}
nav{
    background-color: var(--nav-back-color);
    position:sticky;
    top: 0;
    height: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: left !important;
    padding: 0 1rem;
    max-width: 14rem;
}
nav img{
    height: 7rem;
    width: 7rem;
    position: relative;
    top: -3rem;
    margin: 0 auto;
}
nav a{
    width: 99%;
    height: max-content ;
    margin: 1rem 0 !important;
    cursor: pointer;
    all:unset;
    font-weight: 600;
    text-align: left;
    letter-spacing: .3mm;
    font-size: 1.1rem;
    cursor: pointer;
}
nav a::before{
    content:"";
    position: absolute;
    background-color: rgb(49, 42, 32);
    width: 80%;
    margin: auto;
    height: .1mm;
    bottom: 0;
} 
nav a:hover{
    color: var(--btn-color);
}
nav a:hover::before{
    background-color: var(--btn-color);
}  
section{
    background-color: var(--sec-color);
    border-radius: .4rem;
    margin-top: 1rem;
}
main{
    min-width: 84%;
    background-color: var(--sec-color);
    border-radius: .5rem;
    margin: .2rem;
    box-shadow: 1px 1px 4px var(--item-back);    
}

main #item1{
    height: 90vh;
    width: 90%;
    columns: 400px;
    gap: 1.5rem;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

button{
    background-color: var(--btn-color);
}
#item1 img{
    background-color: var(--item-back);
    min-height: 400px !important;
    min-width: 60%;
    border: 2px solid transparent;
    border-block-start-color: darkorange;
}

nav a{
    position: relative;;
    padding: .4rem ;
    transition:scale  .6s ease-in-out;
}

    /* Js Selection classes */
.selected-link{
    background-color: var(--sec-color) /*rgb(167, 14, 0)*/;
    border: 2px solid orange;
    border-radius: .4rem;
    color: rgb(255, 153, 74);
    scale: 1.03
}
.unselected-section{
    display: none !important;
}
.selected-sectionAnim{
    position: relative;
    animation:next-slide .8s ease-in-out forwards;
}
@keyframes next-slide {
    from{opacity: 0}
    to {opacity: 1}
}
/* end of Js css */

    /* styling to the h2 Headings */
h2{
    font-size: 2.2rem;
    letter-spacing: .4mm;
    position: absolute;
    top: -2rem;
    left: 1.5rem;
    color: var(--heading-color);
}

/*  -- CONTACT SECTION STYLING --  */

    /* styling for the contact routes */
.contact-routes{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    gap: 1rem;
}
.contact-routes .route{
    padding: .8rem;
    border-radius: .6rem;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3), 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: background-color .5s ease-in-out, scale .6s ease-in-out;
    background-color: transparent;
    min-width: 18rem;
}
.contact-routes .route:hover{
    scale: 1.05;
    background-color: var(--item-back);
}
.route img{
    height: 2rem;
    width: 2rem ;
    border-radius: 1rem;
    border: 1px solid var(--btn-color);
}
.route h3{
    letter-spacing: .4mm;
    color: rgb(255, 157, 0);
}

    /* styling the contact form */
.form-info{
    position: relative;
    width: 90%;
    margin: .8rem auto;
    display: flex;
    gap: 2.5rem;
}
.form-info p{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .3mm;
    margin: 0;
    text-align: left;
    position: relative;
    left: -4.5%;
    width: 50%;
    background-color: var(--sec-color);
    border-radius: .4rem;
    color: rgb(220, 199, 184);
}
section#item5{
    position: relative;
    height: 100%;
    width: 100%;
    min-height: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
#item5 form.contact-form{
    min-width: max-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: clamp(30%,70%,85%);
}
.nameEmail{
    position: relative;
    width: 99%;
    min-height: 4rem;
    display: flex;
    justify-content: space-evenly;
}
.contact-form input, .contact-form textarea{
    background-color: var(--item-back);
    border: none;
    padding:.6rem .8rem;
    border-radius: .4rem;
    outline: none;
    margin: .5rem 0;
    width: 45%;
    font-size: 1.2rem;
    position: relative;
    box-shadow: 2px 2px 5px rgba(249, 173, 138, 0.1);
}
:is(.contact-form input, .contact-form textarea)::placeholder{
    color: rgb(176, 155, 140);
    font-size: .9rem;
}
#formHolder{
    position: inherit;
    width: 96%;
    margin: .2rem auto;
    display: flex;
    flex-direction: column;
    height: 65%;
}
#formHolder textarea{
    width: 96%;
    margin: .4rem auto;
    height: 60%;
}
#formHolder button, .form-info button{
    position: relative;
    width: 50%;
    padding: .6rem 0;
    border: none;
    border-radius: .5rem;
    color: var(--item-back);
    font-weight: 700;
    letter-spacing: .4mm;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: scale .6s ease-in-out, opacity .5s ease-in-out;
}
#formHolder button{
    font-size: 1.1rem; 
    margin: 1.5rem .1rem .5rem;
}
:is(#formHolder button, .form-info button):hover{
    opacity: .7;
}
:is(#formHolder button, .form-info button):active{
    scale: .95;
}

/*  -- SERVICES SECTION STYLING -- */

section#item3{
    position: relative;
    height: 97%;
    width: 100%;
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(18rem, 23rem));
    overflow-y: scroll;
    gap: 1rem;
    padding-top: 1.5rem;
}
#item3 h2{
    z-index: 2;
    position: fixed;
    top: -2rem;
    left: 17%;
    background-color: var(--sec-color);
    height: max-content;
    width: max-content;
    padding: 0 .4rem;
}
#item3 .service{
    position: relative;
    min-height: 15rem;
    height: 60%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--item-back);
    border-radius: .8rem;
    box-shadow: 2px 2px 5px rgba(222, 80, 14, 0.3);
    padding: 1rem;
    text-align: center;
    margin-left: .5rem;
    cursor: pointer;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    transition: background-color .5s ease-in-out, scale .6s ease-in-out;
}
#item3 .service:hover{
    scale:1.028;
    background-color: var(--nav-back-color);
}
.service h3{
    color: rgb(196, 122, 3);
}
.service img{
    height: 4rem; 
    width: 7rem;
    z-index: 10;
}
/* .service:nth-of-type(2) {
    background: url("./Utilities/web.png");
    background-position: center;
    background-size: cover;
} */

/* -- STYLING FOR THE ABOUT ME SECTION -- */
/* #item2 *{
    color: var(--txt-color22) !important;
} */
 ::-webkit-scrollbar{
    height: .1rem;
}
#item2 h2{
    top: -1rem;
    position: relative;
}
 #item2 p:first-of-type{
    color: var(--txt-color2);
 }
 input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
  }
  
  /* Track: webkit browsers */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  /* Track: Mozilla Firefox */
  input[type="range"]::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
  }
  
  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #f50;
    border-radius: 50%;
    border: 2px solid #f50;
    /*  slider progress trick  */
    box-shadow: -1000px 0 0 1000px #f50;
  }
  
  
  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f50;
    /*  slider progress trick  */
    /* box-shadow: -407px 0 0 400px #f50; */
  }
